<div class="auth-wrapper">
  <div class="avatar">
    {{gravatar-image email=email alt="Avatar" size="150" defaultAvatar=defaultAvatar}}
  </div>
  <div class="title">Journey</div>
  {{outlet}}
</div>
