{{nav-bar session=session}}

<div class="users-wrapper">
  {{input placeholder="Who are you searching for?"
          value=searchText
          type="text"
          name="search"
          class="input search"
          action="search"
          on="enter"}}

  {{outlet}}
</div>
