// Definitions

@error_color: #884240;

// Reusable components

.global-preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 7px;
  width: 77px;
  margin-left: -39px;
  margin-top: -4px;
}

.local-preloader {

}

.waiting {

}

.error {
  color: @error_color;
}

// Application route

.application-wrapper {
  width: 768px;
  margin-left: auto;
  margin-right: auto;
  font-family: "sans-serif";
}

// Login route

.login-wrapper {
  text-align: center;

  .avatar {
    margin-top: 172px;
  }

  .title {
    font-size: 40px;
    margin-top: 32px;
  }
}

// Users route



// User route



@media only screen and (min-width: 480px) {

}



@media only screen and (min-width: 768px) {

}



@media only screen and (min-width: 1140px) {

}
