// Login route

.login-wrapper {
  text-align: center;

  .avatar {
    margin-top: 90px;
  }

  .title {
    margin-top: 25px;
    font-size: 42px;
  }

  .form {
    margin-top: 50px;

    .input {
      width: 100%;
      height: 40px;
      font-size: 14px;
      display: block;
      padding: 0 14px;
      margin-bottom: 10px;
      margin-left: auto;
      margin-right: auto;
      border: 1px solid #aaa;
      border-radius: 0;
      background: transparent;
      box-shadow: none;
      -webkit-appearance: none;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
    }

    .submit {
      margin-top: 25px;
    }

    .auth-alternative {
      font-size: 16px;
      margin-top: 15px;
    }

    .waiting {
      margin-top: 15px;
    }

    .error {
      margin-top: 15px;
      color: @error_color;
    }
  }
}
