// Reusable css classes

.fixed-width-wrapper {
  width: 290px;
  margin-left: auto;
  margin-right: auto;
}

.blue-btn {
  height: 40px;
  font-size: 16px;
  padding: 0 15px;
  line-height: 40px;
  border: 0;
  color: white;
  background-color: @blue;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: white;
    text-decoration: none;
    background-color: @dark_grey;
  }
}

.blue-link {
  color: @blue;
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
}

.black-link {
  color: @black;
  cursor: pointer;
  text-decoration: none;
}

.input {
  height: 40px;
  font-size: 14px;
  padding: 0 14px;
  border: 1px solid #aaa;
  border-radius: 0;
  background: transparent;
  box-shadow: none;
  -webkit-appearance: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.global-preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 7px;
  width: 77px;
  margin-left: -39px;
  margin-top: -4px;
}
