// Users route

.nav-bar {
  height: 75px;
  width: 100%;
  background-color: @light-grey;
  font-size: 14px;

  .content {
    .fixed-width-wrapper;

    .avatar {
      float: left;
      line-height: 75px;
    }

    .title {
      float: left;
      line-height: 75px;
      margin-left: 15px;
    }

    .logout {
      .black-link;
      float: right;
      line-height: 75px;
    }
  }
}

.users-wrapper {
  .fixed-width-wrapper;

  .loading {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .search {
    margin-top: 30px;
    width: 100%;
  }

  .users-header {
    font-size: 14px;
    font-weight: 600;
    margin-top: 30px;

    .left {
      float: left;
    }

    .right {
      float: right;
    }
  }

  .users-list {
    margin-top: 30px;
    font-size: 13px;

    .user-block {
      height: 50px;
      margin-bottom: 20px;
      cursor: pointer;

      .avatar {
        float: left;
        line-height: 50px;
      }

      .name {
        float: left;
        line-height: 50px;
        margin-left: 15px;
      }

      .date {
        float: right;
        line-height: 50px;
      }
    }
  }
}
