<div class="nav-bar">
  <div class="content">
    {{gravatar-image email=session.account.email alt="Avatar" size="40" defaultAvatar=defaultAvatar class="avatar"}}
    <div class="title">Journey</div>
    <div class="logout" {{action "logout"}}>Logout</div>
    <div class="clearfix"></div>
  </div>
</div>
