{{input placeholder="Who are you searching for?"
        value=searchText
        type="text"
        name="search"
        class="input search"
        action="search"
        on="enter"}}

<div class="users-header">
  <div class="left">Contact</div>
  <div class="right">Sign up date</div>
</div>

<div class="clearfix"></div>

<div class="users-list">
  {{#each user in controller}}
    {{user-block user=user}}
  {{/each}}
</div>
